.profile-edit
    img(alt='фото' src="https://polymus.ru/media/cache/dc/70/dc70224031a4ad5d8f0a5ced566cd87a.jpg").profile-edit__avatar
    form.profile-edit__form
        .profile-edit__input-container
            +inputPimary()(name="email").profile-edit__input-content
            .profile-edit__input-text Почта
        .profile-edit__input-container
            +inputPimary()(name="login").profile-edit__input-content
            .profile-edit__input-text Логин
        .profile-edit__input-container
            +inputPimary()(name="first_name").profile-edit__input-content
            .profile-edit__input-text Имя
        .profile-edit__input-container
            +inputPimary()(name="second_name").profile-edit__input-content
            .profile-edit__input-text Фамилия
        .profile-edit__input-container
            +inputPimary()(name="phone").profile-edit__input-content
            .profile-edit__input-text Телефон
        .profile-edit__input-container
            +inputPimary()(name="display_name").profile-edit__input-content
            .profile-edit__input-text Имя в чате
        +buttonPrimary("Сохранить").profile-edit__button-save
