mixin form-registration()
    .form-registration
        h2.form-registration__title Регистрация
        form.form-registration__content
            +inputPimary()(placeholder="Почта" name="email").form-registration__input
            +inputPimary()(placeholder="Логин" name="login").form-registration__input
            +inputPimary()(placeholder="Имя" name="first_name").form-registration__input
            +inputPimary()(placeholder="Фамилия" name="second_name").form-registration__input
            +inputPimary()(placeholder="Телефон" name="phone").form-registration__input
            +inputPimary()(placeholder="Пароль" name="password").form-registration__input
            +inputPimary()(placeholder="Пароль(ещё раз)" name="passwordRepeat").form-registration__input
        +buttonPrimary('Зарегистрироваться').form-registration__button