extends ../../layout/main


block body
    main.home-page
        section.home-page__chat-users
            .home-page__users-header
                a(href="../profileMain/profileMain.pug").home-page__link-profile
                    .home-page__link-icon
                input.home-page__search
            ul.home-page__chat-list
        section.home-page__chat
            h3.home-page__chat-empty
