@import "../../../../global.scss";

.profile-password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  &__avatar {
    margin: 24px 0 40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $primary-30;
    display: block;
    object-fit: cover;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__input-container {
    max-width: 600px;
    width: 100%;
    position: relative;
    margin-top: 24px;
  }
  &__input-text {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    color: $accent-10;
  }
  &__input-content {
    padding-left: 250px;
    text-align: right;
    font-weight: normal;
    color: #fff;
  }
  &__button-save {
    max-width: 380px;
    margin: 120px;
  }
}