extends ../../layout/main.pug


block body
    .profile-password
        img(alt='фото' src="https://polymus.ru/media/cache/dc/70/dc70224031a4ad5d8f0a5ced566cd87a.jpg").profile-password__avatar

        form.profile-password__form
            .profile-password__input-container
                +inputPimary()(name="oldPassword").profile-password__input-content
                .profile-password__input-text Старый пароль
            .profile-password__input-container
                +inputPimary()(name="newPassword").profile-password__input-content
                .profile-password__input-text Новый пароль
            .profile-password__input-container
                +inputPimary()(name="newPasswordRepeat").profile-password__input-content
                .profile-password__input-text Повторите новый пароль
            +buttonPrimary("Сохранить").profile-password__button-save


