.profile-main
    .profile-main__icon-container
        label(for="myIcon").profile-main__icon-label
        input(type="file" id="myIcon" name="avatar").profile-main__icon-input
    .profile-main__item-container
        .profile-main__item-name Почта
        .profile-main__item-text text
    .profile-main__item-container
        .profile-main__item-name Логин
        .profile-main__item-text text
    .profile-main__item-container
        .profile-main__item-name Имя
        .profile-main__item-text text
    .profile-main__item-container
        .profile-main__item-name Фамилия
        .profile-main__item-text text
    .profile-main__item-container
        .profile-main__item-name Телефон
        .profile-main__item-text text
    .profile-main__item-container
        .profile-main__item-name Имя в чате
        .profile-main__item-text text