mixin form-authorization()
    .form-authorization
        h2.form-authorization__title Авторизация
        form.form-authorization__content
            +inputPimary()(placeholder="Логин" name="login").form-authorization__input
            +inputPimary()(placeholder="Пароль" name="password").form-authorization__input
            a(href='../registration/registration.pug').form-authorization__text Регистрация
        +buttonPrimary('Войти').form-authorization__button