@import "../../../../global";

.form-authorization {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-height: 650px;
  padding: 0 36px;
  background-color: $primary-90;
  &__title {
    text-align: center;
    font-family: Alegreya Sans SC, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: $accent-10;
    margin: 36px 0 64px;

  }
  &__input {
    margin-top: 32px;
  }
  &__text {
    color: $green-2;
    margin: 24px 0;
    display: inline-block;
    text-decoration: none;
    transition: all .1s linear;
    &:hover {
      color: $green-1;
    }
  }
  &__button {
    margin: 64px auto 0;
  }
}