include ../components/button/index.pug
include ../components/input/index.pug
include ../pages/login/modules/formAuthorization/index.pug
include ../pages/login/modules/formRegistration/index.pug

<!DOCTYPE html>
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel="stylesheet" href="../../styles.scss")
        title Messanger
    body
        block body
