include ../components/button/button.pug
include ../components/input/input.pug
include ../pages/login/modules/formAuthorization/formAuthorization
include ../pages/registration/modules/formRegistration/formRegistration

<!DOCTYPE html>
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel="stylesheet" href="../../styles.scss")
        title Messanger
    body(style='background-color: #425A66; height: 100vh')
        block body
